.css-1ujnqem-MuiTabs-root {
  margin-bottom: 70px;
}

.our-product-button {
  color: #44475b;
  /* float: left; */
  margin-left: -168px !important;
}

.our-product-h4 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #44475b;
  margin-top: 20px !important;

  margin-left: 102px !important;
}

.top-2-heading {
  float: left;
  margin-left: -58px;
  margin-top: 41px !important;
}

.item1 {
  margin-left: 30px !important;
}

.item2 {
  margin-left: 170px !important;
}

.item3 {
  margin-left: 170px !important;
}

.item4 {
  margin-left: 170px !important;
}

.sidePart {
  margin-left: 1em !important;
  font-weight: 700;
  margin-top: -60px !important;
}

.side-part-1 {
  margin-top: 20px;
  font-weight: 700;
  text-align: start !important;
}

.side-part-stocks {
  display: flex;
  flex-direction: column;
  margin-top: -340px;
  margin-left: 600px;
  margin-bottom: 372px;
}

.account_charges-span {
  display: inline-block;
  font-size: 25px;
}

.accountChareges_subheading {

  max-width: 48%;
  margin-left: 100px !important;
  margin-top: 20px !important;
}

.zerofee_product {
  margin-left: 70px;
}

.css-o2w69a-MuiTypography-root {
  float: left;
  margin-left: 95px !important;
}

.product-button {
  margin-top: 60px !important;
  margin-left: -13em !important;
}

.our-product-main-div {
  height: 22vh;
}