.buttonSupport{
    background-color: white !important;
    color: #34eb98 !important;
    margin-top: 40px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    border: none !important;
}
.subtitles2{
    color:white;
    margin-left: -20px !important;
    margin-top: 23px !important;
}

.subtitles1{
    color: white;
    margin-top: 45px !important;
}