.particles-div-color {
    background-color: blue;
}

.trusted-heading {
    color: white;
}

.heading-class-main {
    padding-top: 11em;
    padding-left: 10em;
}

.font-class {
    font-size: 14px;
    font-weight: bold;
}

.align-start {
    text-align: start;
    line-height: .4;
}

.bold-class {
    font-size: 40px;
    font-weight: bold;
}
