.about-grid-one {
    align-items: center;
}

.about-div-main {
    background-color: #1e2232;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}

.colour-text {
    color: #fff;
}

.align-start {
    text-align: start;
}

.font-size {
    font-size: 1.4rem;
    margin-bottom: 35px;
}

.about-grid-two {
    background-color: #1e2232;
    padding-left: 80px;
    padding-right: 40px;
    padding-bottom: 10px;
}

.divider-white {
    background-color: #fff;
    margin-top: 30px !important;
}

.red-colour {
    color: red;
}
.image-horizontal{
    display: flex;
    float: right;
    margin-right: 55px;
    align-items: center;
}