.App {
    font-family: sans-serif;
    text-align: center;
  }
  .button{
    background: seagreen !important;
    color: white !important;
    
  }
  .MuiAppBar-colorPrimary{
    background-color: white !important;
    color: rgb(19, 2, 2) !important;
  }
  .cardView-center{
    margin-top: 100px;
  }
  .button-lang{
    background: seagreen !important;
    color: white !important;
    margin-left: 20px !important;
  }